.history/

.terraform.tfstate.lock.info
.terraform/
terraform.log
terraform.tfstate
terraform.tfstate.*
terraform.tfvars
terraform.tfvars.backup
*.auto.tfvars
graph.svg

vendor/
vendir.lock.yml

modules/**/templates/config.yml
modules/**/templates/kpack-webhook.yml

*.tgz
*.tar

samples/**/bin/**

.ytt/

dist/

manifest.yml

.vagrant/