.history/
.terraform/
terraform.tfstate
terraform.tfstate.backup
terraform.tfvars.backup
terraform.log
source-repos/terraform*
graph.svg
vendor/
vendir.lock.yml
modules/**/templates/config.yml
modules/**/templates/kpack-webhook.yml
*.tgz
*.tar
*.auto.tfvars
samples/**/bin/**
.ytt/
