.history/

.terraform.tfstate.lock.info
.terraform/
terraform.log
terraform.tfstate
terraform.tfstate.*
terraform.tfvars
terraform.tfvars.backup
*.auto.tfvars
graph.svg

vendor/
vendir.lock.yml

modules/**/templates/config.yml
modules/**/templates/kpack-webhook.yml

ytt-libs/tas4k8s/config-optional/

*.tgz
*.tar

.ytt/

dist/

manifest.yml

.vagrant/

demo-config.sh
