apiVersion: v1
kind: Config
users:
- name: svcs-acct-dply
  user:
    token: ${token}
clusters:
- cluster:
    certificate-authority-data: ${ca_cert}
    server: ${server}
  name: self-hosted-cluster
contexts:
- context:
    cluster: self-hosted-cluster
    user: svcs-acct-dply
  name: svcs-acct-context
current-context: svcs-acct-context